@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: "";
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.219em;
  display: table;
}
